{% block scripts %}
<script>
  function checkFlashcard(element) {
    var text = element.parentElement.querySelector(".guess").value;
    var msg;
    if (text == element.parentElement.querySelector(".target").textContent) {
      msg = "Correct!";
    } else {
      msg = "Incorrect :(";
    }
    element.parentElement.querySelector(".response").innerHTML = msg;
  }
</script>
{% endblock %}

<div class="flashcard">
  <b>{{ post.word }}</b><br />
  <p class="target" hidden>{{ post.translation }}</p>
  <input type="text" class="guess"/>
  <div class="response"></div>
  <input type="submit" value="Submit" onclick="checkFlashcard(this)"/>
</div>
